#tablepress-2 td {
	border: 1px solid black;
	padding: 4px;
}

#tablepress-2 thead tr th:first-child {
	background-color: #ffe599;
	text-align: center;
}

#tablepress-2 thead tr th:last-child {
	background-color: #8eaadb;
	text-align: center;
}

#tablepress-2 tbody tr td:first-child {
	color: blue;
}

#tablepress-2 tbody tr td:last-child {
	text-align: center;
}